node_modules
dist
build
coverage
.vite
.tanstack
playwright-report
test-results

pnpm-lock.yaml

apps/server/.venv
apps/server/__pycache__
apps/server/**/*.py
.github/
apps/mobile/expo-env.d.ts
apps/mobile/nativewind-env.d.ts
apps/mobile/.expo/

.vscode/
apps/mobile/.vscode/
